<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    
      <div class="input-group-append">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Get all Product</h4>


    <div class="container col-md-12">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="row col-md-12 justify-content-end pr-0">
              <form class="form-inline">
                <div class="form-group">
                  <label for="filter-value">Buscador:</label>
                  <input
                    name="filterValue"
                    type="text"
                    class="form-control mx-sm-3"
                    placeholder="Buscar..."
                    id="filter-value"
                  
                      [(ngModel)]="filterValue"
                  />
                </div>
              </form>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn coe-btn-primary"
                  id="add-btn"
                  routerLink="/SetProduct"
                >
                  <i class="far fa-plus-square"></i
                  ><span> {{ 'trasnlate.AddBtn' | translate }}</span>
                </button>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-secundary-pdf"
              
                  i18n="@@Pdf"
                >
                  <span><i class="far fa-file-pdf"></i> PDF</span>
                </button>
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-secundary-csv"
              
                  i18n="@@Csv"
                >
                  <span><i class="far fa-file"></i> CSV</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="coe-card">
      <div class="table-responsive">
        <table class="table table-striped table-hover" id="persona-table">
          <thead>
            <tr>
              <th scope="col">Name Product</th>
              <th scope="col">Code Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Minimun Allo Web</th>
            
              <th scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr 
            *ngFor="let val of ProductDto; let i = index">
            
              <th scope="row">{{val.name }} </th>
              <td> {{val.code }} </td>
              <td>{{val.price  | currency}} </td>
              <td>{{val.quantity }} </td>
              <td>{{val.minimunAlloweb}} </td>
              
              <td class="d-flex">
                <button
                  type="button"
                  ngbTooltip="Editar"
                  class="edit btn btn-secundary-editar"
                  (click)="update(val)">
                  <i class="far fa-edit"></i>
                </button>
                <button
                  ngbTooltip="Eliminar"
                  type="button"
                  class="delete btn btn-secundary-delete"
                  (click)="delete(val)"
                 >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-pagination
      >
      </app-pagination>
</div>
