<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>{{ 'trasnlate.AdminProducLabel' | translate }}</h2>
    </div>

    <form
      class="coe-card"
      #FormElement="ngForm"
     >
      <div class="form-row">
        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="id" translate>{{ 'trasnlate.code' | translate }}</label>
          <input
            class="form-control"
      
            id="code" required [(ngModel)]="productDto.code" name="code"
            name="code"
            required
          />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="tipo-identificacion-abreviatura" for="id" translate>
            {{ 'trasnlate.Typecode' | translate }}
          </label>

          <select
            class="form-control"

            required
            
            name="TipoIdentificacion_Abreviatura"
            id="tipo-identificacion-abreviatura"
          
          >
            <option
           
            >
               tipoProdcuto
            </option>
          </select>
          <div
            class="invalid-feedback"
              >
            <span *ngIf="">
              RequiredField
            </span>
          </div>
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="name" translate
            >{{ 'trasnlate.Nombres' | translate }}
            </label
          >
          <input
            type="text"
            maxlength=""
            class="form-control"
            id="name"
            required [(ngModel)]="productDto.name" name="Name"
            />
          <div
            class="invalid-feedback"
          >
            <span>
            </span>
          </div>
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="Descripction" translate
            >Descripción</label
          >
          <input
            type="text"
            maxlength=""
            class="form-control"
            id="Descripction"
            required [(ngModel)]="productDto.name" name="Descripction"
            />
          <div
            class="invalid-feedback"
          >
            <span>
            </span>
          </div>
        </div>


      </div>

      <div class="form-row">

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="fecha-nacimiento" translate>{{ 'trasnlate.FechaIngreso' | translate }}
             </label>

          <input
            type="date"
            class="form-control"
            id="fecha-nacimiento"
            name="FechaNacimiento"
            [disabled]="false"
          />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="Precio" translate> {{ 'trasnlate.Precio' | translate }} </label>

          <input
            type="number"
            class="form-control"
            id="salario"
            name="Precio"
            required [(ngModel)]="productDto.price" name="Price"
          />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="quantity" translate>
            {{ 'trasnlate.Cantidad' | translate }} 
          </label>

          <input
            type="number"
            class="form-control"
            id="calificaion-promedio"
            required [(ngModel)]="productDto.quantity" 
            name="quantity"
          />
        </div>

        
        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="calificaion-promedio" translate>
            {{ 'trasnlate.MinimunAlloweb' | translate }} 
          </label>

          <input
            type="number"
            class="form-control"
            id="calificaion-promedio"
            name="CalificaionPromedio"
          />
        </div>

        
      </div>

      <div class="form-row">
        

        <div
          class="form-group p-3 col-md-3 col-xs-12 no-gutters align-items-start justify-content-between"
        >
          <label translate>             {{ 'trasnlate.Activo' | translate }} 
 </label>
          <div class="onoffswitch">
            <input
              class="onoffswitch-checkbox"
              id="activo"
              type="checkbox"
              name="Activo"
              tabindex="0"
              checked
            />
            <label class="onoffswitch-label" for="activo"></label>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-sm-12 text-left">
          <strong>{{ 'RequiredFieldsText' | translate }}</strong>
        </div>
      </div>

      <div class="row col-md-12 justify-content-end pr-0">
        <div class="col-md-2 pr-0">
          <button
            type="button"
            class="btn coe-btn-secundary"
            id="close-btn"
           
          >
            {{ 'CloseBtn' | translate }}
          </button>
        </div>

        <div class="col-md-2 col-sm-">
          <button (click)="getRegister()" class="btn coe-btn-primary" id="submit">
            {{ 'SaveBtn' | translate }}
          </button>
        </div>
      </div>



    </form>
  </div>
</div>
