<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>{{ 'trasnlate.AdminProducLabel' | translate }}</h2>
    </div>

    <form
      class="coe-card"
      #FormElement="ngForm">
      <div class="form-row">
        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="id" translate>{{ 'trasnlate.code' | translate }}</label>
          <input
            class="form-control"
            id="code" 
             [(ngModel)]="productDto.code"
            name="code"
            #code="ngModel"
            required
            [disabled]="isEnable" 
            />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="tipo-ide
          ntificacion-abreviatura" for="id" translate>
            {{ 'trasnlate.Typecode' | translate }}
          </label>

          <select
            class="form-control"

            required
            
            name="TipoIdentificacion_Abreviatura"
            id="tipo-identificacion-abreviatura"
          
          >
            <option
           
            >
               tipoProdcuto
            </option>
          </select>
          <div
            class="invalid-feedback"
              >
            <span *ngIf="">
              RequiredField
            </span>
          </div>
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="name" translate
            >{{ 'trasnlate.Nombres' | translate }}
            </label
          >
          <input
            type="text"
            maxlength=""
            class="form-control"
            id="name"
            required [(ngModel)]="productDto.name" 
            name="name"
            #name="ngModel"
            />
          <div
            class="invalid-feedback"
          >
            <span>
            </span>
          </div>
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="Descripction" translate
            >Descripción</label
          >
          <input
            type="text"
            maxlength=""
            class="form-control"
            id="Descripction"
            required 
            
             name="Descripction"
            />
          <div
            class="invalid-feedback"
          >
            <span>
            </span>
          </div>
        </div>


      </div>

      <div class="form-row">

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="fecha-nacimiento" translate>{{ 'trasnlate.FechaIngreso' | translate }}
             </label>

          <input
            type="date"
            class="form-control"
            id="fecha-nacimiento"
            name="FechaNacimiento"
            [disabled]="false"
          />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="Precio" translate> {{ 'trasnlate.Precio' | translate }} </label>

          <input
            type="number"
            class="form-control"
            id="salario"
            name="Precio"
            required [(ngModel)]="productDto.price" name="Price"
          />
        </div>

        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="quantity" translate>
            {{ 'trasnlate.Cantidad' | translate }} 
          </label>

          <input
            type="number"
            class="form-control"
            id="calificaion-promedio"
            required [(ngModel)]="productDto.quantity" 
            name="quantity"
          />
        </div>

        
        <div class="form-group p-3 col-md-3 col-xs-12">
          <label for="MinimunAlloweb" translate>
            {{ 'trasnlate.MinimunAlloweb' | translate }} 
          </label>

          <input
            type="number"
            class="form-control"
            id="MinimunAlloweb"
            name="MinimunAlloweb"
            required [(ngModel)]="productDto.minimunAlloweb" 
          />
        </div>

        
      </div>

      <div class="form-row">
        

        <div
          class="form-group p-3 col-md-3 col-xs-12 no-gutters align-items-start justify-content-between"
        >
          <label translate>             {{ 'trasnlate.Activo' | translate }} 
 </label>
          <div class="onoffswitch">
            <input
              class="onoffswitch-checkbox"
              id="activo"
              type="checkbox"
              name="Activo"
              tabindex="0"
              checked
            />
            <label class="onoffswitch-label" for="activo"></label>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-sm-12 text-left">
          <strong>{{ 'trasnlate.RequiredFieldsText' | translate }}</strong>
        </div>
      </div>

      <div class="row col-md-12 justify-content-end pr-0">
        <div class="col-md-2 pr-0">
          <button
            type="button"
            class="btn coe-btn-secundary"
            (click)="onBack()"
          >
            {{ 'trasnlate.CloseBtn' | translate }}
          </button>
        </div>

        <div class="col-md-2 col-sm-">
          <button (click)="getRegister() ; productDto.code=''; productDto.name=''; productDto.price=0; productDto.quantity=0; productDto.minimunAlloweb=0;"
          class="btn coe-btn-primary" id="submit" id="close-btn"
            >
            {{ 'trasnlate.SaveBtn' | translate }}
          </button>
        </div>
      </div>
      <br>
    <br>
    <div *ngIf="submitted" class="col-md-12">
        <h4>Get all Product</h4>
        <h4>Get Ingress Product</h4>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Name Product</th>
                <th scope="col">Code Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Minimun Allo Web</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{productDto.name }} </th>
                    <td> {{productDto.code }} </td>
                    <td>{{productDto.price  | currency}} </td>
                    <td>{{productDto.quantity }} </td>
                    <td>{{productDto.minimunAlloweb}} </td>
                  </tr>
            </tbody>
          </table>
        
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Name Product</th>
                <th scope="col">Code Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Minimun Allo Web</th>
              </tr>
            </thead>
            <tbody>
              <tr 
              *ngFor="let val of ProductDto; let i = index">
                <th scope="row">{{val.name }} </th>
                <td> {{val.code }} </td>
                <td>{{val.price  | currency}} </td>
                <td>{{val.quantity }} </td>
                <td>{{val.minimunAlloweb}} </td>
              </tr>
            </tbody>
          </table>
      </div>
    </form>
  </div>
</div>
